.feedback {
  min-height: 574px;
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: $basic_white;

  @media (max-width: $mobile-width) {
    padding-top: 90px;
    padding-bottom: 110px;
  }
}

.feedback__wrapper {
  @media (max-width: $tablet-width) {
    width: 70%;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.feedback__lead {
  margin-bottom: 55px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 0.93;
  color: $basic_darkgrey;
}

.feedback__form {
  height: 210px;

  @media (max-width: $tablet-width) {
    height: auto;
  }
}
