.footer {
  min-height: 129px;
  padding: 40px 0;
  background-image: linear-gradient(
      -18deg,
      rgba($basic_darkblue, 0.9) 0%,
      rgba($basic_lightblue, 0.9) 100%
    ),
    url("../img/bg-coins-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  @media (max-width: $mobile-width) {
    min-height: 50px;
    padding: 20px 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        -18deg,
        rgba($basic_darkblue, 0.9) 0%,
        rgba($basic_lightblue, 0.9) 100%
      ),
      url("../img/bg-coins-footer@2x.jpg");
  }
}

.footer__copyright {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  color: $basic_white;
  text-align: center;
}
