// Colors

$basic_white: #ffffff;
$basic_lightgrey: #f3f2f2;
$basic_grey: #808080;
$basic_darkgrey: #333333;
$basic_lightblue: #0b4bec;
$basic_darkblue: #071d68;
$basic_dark: #1d1b1b;
$basic_black: #000000;

$special_dark: #040404;

// Breakpoints

$mobile-width: 767px;
$tablet-width: 1199px;
$small-desktop-width: 1400px;
